--CONSTRAINTS IN SQL: Which helps you to apply rules and regulation to the table

--NOT NULL Ensures that la column cannot have a NULL value

-- UNIQUE Ensures that all values in a column are different

--PRIMARY KEY A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table

--FOREIGN REY It is a field (or a set of fields) in one table that refers to the primary key of another table.
The foreign key ensures that the values in the referencing column (s) of the child table must exist in the referenced column(s) of the parent table.

--CHECK Ensures that the values in a column satisfies a specific condition

--DEFAULT Sets a default value for a column if no value is specified


------------------------- CONSTRAINTS

CREATE TABLE STUDENT(
    STUDENT_ID INT CONSTRAINT STUDENT_ID_PK PRIMARY KEY,
    STUDENT_NAME VARCHAR(30) CONSTRAINT STUDENT_NAME_NN NOT NULL,
    GENDER CHAR(1) CONSTRAINT GENDER_CHK CHECK(GENDER = 'M' OR GENDER = 'F'),
    STIPEND INT DEFAULT 0,
    HOBBIES VARCHAR(30) CONSTRAINT HOBBIES_UQ UNIQUE
);

INSERT INTO STUDENT VALUES(10,'SANGEETA','F',2000,'CRICKET');
INSERT INTO STUDENT VALUES(20,'DATTA','M',2000,'FOOTBALL');
INSERT INTO STUDENT (STUDENT_ID, STUDENT_NAME, GENDER, HOBBIES) VALUES(30,'DATTA','M','HOCKEY');
INSERT INTO STUDENT VALUES(40,'AISHWARYA','F',1000,'BASKETBALL');
INSERT INTO STUDENT (STUDENT_ID, STUDENT_NAME, HOBBIES) VALUES(50,'LAV','BADMINTION');

--- ADD CONSTRAINT TO ALREADY EXISTING TABLE
--- WE CANNNOT ADD UNIQUE CONSTRAINT IF COLUMN ALREADY HAVING DUPLICATE VALUE.

ALTER TABLE STUDENT ADD CONSTRAINT STUDENT_NAME_UQ UNIQUE(STUDENT_NAME);
--UPDATE NULL RECORED
UPDATE STUDENT SET STUDENT_NAME = 'RAM' WHERE STUDENT_ID = 30;

----  USER_CONS_COLUMNS IS INBUILT TABLE OF ORACLE WHICH SHOWS CONSTRAINTS DETAIL
SELECT * FROM USER_CONS_COLUMNS WHERE TABLE_NAME = 'STUDENT';

--- ADD CONSTRAINT TO ALREADY EXISTING TABLE
--- WE CANNNOT ADD UNIQUE CONSTRAINT IF COLUMN ALREADY HAVING DUPLICATE VALUE.
--ALTER TABLE STUDENT ADD CONSTRAINT GENDER_NN GENDER CHAR(1) NOT NULL -- THIS WILL NOT WORK IN NOT NULL, IT HAVING DIFFERNT SYNTAX

ALTER TABLE STUDENT MODIFY GENDER CHAR(1) CONSTRAINT GENDER_NN NOT NULL;
--UPDATE NULL RECORED
UPDATE STUDENT SET GENDER = 'M' WHERE STUDENT_ID = 50;

SELECT * FROM STUDENT;


--------------- FOREIGN KEY

CREATE TABLE AUTHORS(
    AUTHOR_ID INT,
    AUTHOR_NAME VARCHAR(5)
);

CREATE TABLE BOOKS(
    BOOK_ID INT,
    TITLE VARCHAR(100) CONSTRAINT TITLE_NN NOT NULL,
    AUTHOR_ID INT,
    CONSTRAINT BOOK_ID_PK PRIMARY KEY(BOOK_ID),
    CONSTRAINT TITLE_UQ UNIQUE(TITLE),
    CONSTRAINT FRK_AUTHER_ID FOREIGN KEY(AUTHOR_ID) REFERENCES AUTHORS(AUTHOR_ID)
);

--ADDING A NOT NULL CONSTRINST USING ALTER
ALTER TABLE AUTHORS ADD CONSTRAINT AUTHOR_ID_PK PRIMARY KEY(AUTHOR_ID);

--ADDING A NOT NULL CONSTRINST USING ALTER
ALTER TABLE AUTHORS MODIFY AUTHOR_NAME VARCHAR(50) NOT NULL;

INSERT INTO AUTHORS VALUES(101,'HARPER LEF');
INSERT INTO AUTHORS VALUES(102,'GEORGE ORWELL');
INSERT INTO AUTHORS VALUES(103,'JOHN BURROCK');

INSERT INTO BOOKS VALUES(1,'KILL A MOCKINGBIRD',101);
INSERT INTO BOOKS VALUES(2,'1984',102);
INSERT INTO BOOKS VALUES(3,'PRIDE AND PREJUIDICE',103);

SELECT * FROM AUTHORS;

SELECT * FROM BOOKS;



--------------------- COMPOSITE KEY




CREATE TABLE VECHILE(
    MADE VARCHAR(50),
    VH_STATE CHAR(2),
    VH_AREA CHAR(2),
    CH_NUMBER NUMBER,
    CONSTRAINT CH_STATE_AREA_NUMBER_PK PRIMARY KEY(VH_STATE, VH_AREA, CH_NUMBER)
);


INSERT INTO VECHILE VALUES('HONDA','MH','RG',4811);
INSERT INTO VECHILE VALUES('HONDA','MH','RG',4812);
INSERT INTO VECHILE VALUES('KIA','MH','MU',4812);

SELECT * FROM VECHILE;